doctype html
html
  block head
    title= title
    // Put css in a javascript, then transpile it with babel
    script(type='text/javascript', src='/transpiled_javascripts/vendors.js')
    script(type='text/javascript', src='/transpiled_javascripts/css_compiled.js')
    //link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header#banner
      h1 Awesome Chat
    block content
    footer Hope you enjoy your stay here